@use 'reset';
@use 'variables' as *;
@forward 'variables';

body {
  font-family: 'Arial', sans-serif;
  background-color: var(--color-bg);
  color: var(--color-text);
}

@media (max-width: 768px) {
  html {
    font-size: 14px;
  }
}

@media (max-width: 480px) {
  html {
    font-size: 12px;
  }
}

